@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
  }

  body  {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
    font-family: Arial, Helvetica, sans-serif;  
    background: #FBDF07 url("https://img.freepik.com/free-vector/wild-desert-landscape-daytime-scene_1308-50629.jpg?w=2000") no-repeat;
    background-size: cover;
  } 

  /* Game-Area Settings*/
#game-area {  
    width: 60%;
    text-align: center;    
    background-color: burlywood;   
  }
  
/* Images Styles */
.game-image {
    text-align: center;
    display: inline-block;
    margin-bottom: 1rem;   
  }
  
  img {
    width: 80%
  }